@import url("https://fonts.googleapis.com/css?family=Nunito:400,300,700");

body {
  font-family: "Nunito", sans-serif !important;
}

.h2_title {
  text-align: center;
  font-weight: normal;
  letter-spacing: 1px;
}

.hr_content {
  width: 30%;
  margin: auto;
  border: 2px solid rgba(53, 158, 222, 0.81);
  border-radius: 5px;
  opacity: initial;
  color: #359ede;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #0883cd !important;
}

.bg-gray-100 {
  background-color: #f9f8f8;
}

.bg_navbar {
  background-color: #0883cd;
}

.bg_footer {
  background-color: #0883cd;
}

.carousel-inner img {
  width: auto;
  height: 500px;
  opacity: 0.8;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  background-color: rgba(172, 172, 172, 0.42);
  opacity: 0.9;
  border-radius: 20px;
  display: inline-block;
}

.w3_carousel {
}

.text-truncate--3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.form {
  border-radius: 20px;
  border: 1px solid rgb(226, 226, 226);
}

.form_search {
  border-radius: 20px;
  border: 1px solid rgb(226, 226, 226);
  width: 60%;
  margin: auto;
}

.login_register {
  font-size: 15px;
}

.form-control:focus {
  border-color: #08629b;
  box-shadow: 0 0 0 0.2rem rgba(27, 117, 201, 0.247);
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.bg-grey {
  background-color: #313131;
}

.containerscreen {
  max-width: 1024px;
  margin: auto;
}

.monitor {
  background: #000;
  position: relative;
  border-top: 3px solid #888;
  margin: 5%;
  padding: 2% 2% 4% 2%;
  border-bottom-left-radius: 50% 2%;
  border-bottom-right-radius: 50% 2%;
}

.monitor:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 3%;
  left: 36%;
  height: 0.5%;
  width: 28%;
  background: #ddd;
  border-radius: 50%;
  box-shadow: 0 0 3px 0 white;
}

.monitorscreen {
  position: relative;
  background-color: #777;
  background-size: cover;
  background-position: top center;
  width: auto;
  overflow: hidden;
}

.btn-success {
  background-color: #0883cd;
  border-color: #0883cd;
}

.btn-success:hover {
  background-color: #08629b;
  border-color: #08629b;
}

.btn-success:focus {
  background-color: #08629b;
  border-color: #08629b;
  box-shadow: 0 0 0 0.2rem rgba(7, 91, 139, 0.25);
}

.btn-outline-success {
  border-color: #0883cd;
  color: #0883cd;
}

h4 {
  color: rgb(119, 119, 119);
}

.choix:hover {
  box-shadow: 5px 10px 10px 2px rgb(240, 240, 240);
}

.hr_line {
  width: 30%;
  background-color: rgb(168, 222, 255);
  border: 3px solid rgb(168, 222, 255);
  border-radius: 5px;
  opacity: initial;
}

.book_img {
  display: block;
  height: 300px;
  width: auto;
}

.background_type {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 2%;
}

.icon {
  color: #0883cd;
}

.infos {
  background-color: white;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 10px;
}

.intitule {
  margin: 0px;
}
