@import url("https://fonts.googleapis.com/css?family=Nunito:400,300,700");
body {
  font-family: 'Nunito', sans-serif !important;
}

.h2_title{
  text-align: center;
  font-weight: normal;
  letter-spacing: 1px;
}

.hr_content{
  width: 30%;
  margin: auto;
  border: 2px solid lightskyblue;
  border-radius: 5px;
  opacity: initial;
}

.bg-gray-100{
  background-color: #f9f8f8;
}

.bg_navbar{
  background-color: #0883cd;
}
.bg_footer{
  background-color: #0883cd;
}
.form {
  border-radius: 20px;
  border: 1px solid rgb(226, 226, 226);
}

.form_search{
  border-radius: 20px;
  border: 1px solid rgb(226, 226, 226);
  width: 60%;
  margin: auto;
}

.login_register {
  font-size: 12px;
}

.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

#container {
  max-width: 1024px;
  margin: auto;
}

#monitor {
  background: #000;
  position: relative;
  border-top: 3px solid #888;
  margin: 5%;
  padding: 2% 2% 4% 2%;
  border-bottom-left-radius: 50% 2%;
  border-bottom-right-radius: 50% 2%;
}

#monitor:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 3%;
  left: 36%;
  height: .5%;
  width: 28%;
  background: #ddd;
  border-radius: 50%;
  box-shadow: 0 0 3px 0 white;
}

#monitorscreen {
  position: relative;
  background-color: #777;
  background-size: cover;
  background-position: top center;
  width: auto;
  overflow: hidden;
}

